.banner {
  position: relative;
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 80px
}

.backgroundImage {
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.textContent {
  position: relative;
  z-index: 10;
  max-width: 800px;
  text-align: center;
  padding: 0 1.5rem;
}

.title {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
}

.subtitle {
  margin-top: 40px;
  color: white;
  font-size: 1.2rem;
  opacity: 0.9;
}

.button_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.btn, .btn2 {
  margin: 20px;
  width: 130px;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  transition: .4s ease-in-out;
}

.btn {
  color: #4CAF50;
  border: 1px solid #4CAF50;
  background-color: azure;
}

.btn2 {
  color: azure;
  border: 1px solid azure;
  background-color: #4CAF50;
}

.btn:hover, .btn2:hover {
  cursor: pointer;
  filter: brightness(80%);
}