.carousel {
  position: relative;
  max-width: 900px;
  margin: 40px auto -2px auto;
  overflow: hidden;
  height: 600px;
  border-radius: 12px;
}

.slide {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 98%;
  margin-left: 1%;
  height: 100%;
  z-index: 1;
  transition: opacity 1s ease-in-out;
}

.active {
  opacity: 1;
  z-index: 2;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 24px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.prev { left: 10px; }
.next { right: 10px; }

.prev:hover,
.next:hover { background-color: rgba(0,0,0,0.7); }

.dots {
  text-align: center;
  position: absolute;
  bottom: 15px;
  width: 100%;
  z-index: 20; 
}

.dot {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.8); 
  cursor: pointer;
  border-radius: 100%;
  transition: background-color 0.3s;
}

.activeDot {
  background-color: #4d4d4d;
}

@media (max-width: 768px) {
  .prev, .next { padding: 8px; font-size: 20px; }
   .carousel { height: 350px; } 
}