.container {
  position: relative;
  background-color: white;
  background-image: url('/banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: auto;
  z-index: 1;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6); 
  z-index: -1; 
}

.title {
    width: 100%;
    padding: 20px;
    background-color: var(--primary);
    text-align: center;
    margin: 80px 0;
}

.p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: auto;
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    color: rgb(255, 255, 255);
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 30px auto;
    border-radius: 10px;
    
}

.input {
    color: black;
    padding: 10px;
    font-family: var(--inter);
    border: 1px solid var(--primary);
    background-color: white;
}

.input::placeholder {
    color: black;
    background-color: rgb(255, 255, 255);
}

.submit {
    margin: 40px auto;
    width: 200px;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 10px;
    transition: .4s ease-in-out;
    background-color: var(--primary);
}

.submit:hover {
    cursor: pointer;
}

.msg {
    color: green;
    margin: auto;
    margin-bottom: 10px;
}

.error {
    color: red
}