.service {
  max-width: 900px;
  margin: 40px auto;
  text-align: center;
  margin-top: 80px;
  background-color: white;
  padding-bottom: 10px;
}

.title {
  font-size: 2rem;
  color: white;
  background-color: var(--primary);
  margin-bottom: 20px;
  padding: 20px;
}

.description {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #555;
  padding: 0 20px;
  margin-bottom: 30px;
  font-weight: bold;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.button {
  background-color: #4CAF50;
  color: #fff;
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #4CAF50;
}

/* Responsive pour mobile */
@media (max-width: 768px) {
  .title {
    font-size: 1.6rem;
  }
  .description {
    font-size: 1rem;
  }
}
